

body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
   background: linear-gradient(95deg, rgb(241,237,232) 0%, rgba(153, 149, 142, 0.437) 100%);
}

.about , .contact{
  font-size: 25px;
  margin:3%;
  font-weight: 500;
  background-color: rgba(255, 253, 253, 0.582);
}
.contact:hover , .about:hover{
background-color: rgb(77, 70, 70);
color: white;
}
a{
  text-decoration: none;
  color: black;
}
a{
  border-radius: 5px;
  padding:5px;
  margin-bottom: 10px;;
}

.navbar-brand{
  border-style: double;
  padding: 5px;
  color: white;
}

img {
  max-width:50%;
  height:auto;
  margin-right:15px;
 border-radius:10px;
  float:left
  
}

@media only screen and (max-width:768px){
 
  h1 , h2, h3{
    font-size: 20px;
    font-weight: 600;
  }
  h1{
    font-weight: 600;
  }

 
  .col-sm-6 {
    font-size: 18px;
    font-weight: 400;
  }

  p {
    font-size: 16px;
  }
 
.col-sm-6 {
  background-color: linear-gradient(95deg, rgb(251, 254, 251) 0%, rgb(230, 189, 216) 100%);
  border-radius: 10px;
  width: 100%;
}
.about{
  display:none
}


}


